@use 'variavel';
@use 'sass:color';

.faq{
    padding: 5.6vw;
    background-color: #85590e9f;
    
    h2{
        text-align: center;
        margin-bottom: 24px;
    }

    &__list{

        &__item{
            background-color: color.adjust(variavel.$corDeFundo, $lightness: 4%);
            margin-bottom: 16px;
            border-radius: 5px;

            &__question{
                color: white;
                font-size: 20px;
                padding: 24px;
                padding-right: 60px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer{
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open{
                .faq__list__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, 0.5s ease;
                }

                .faq__list__item__question::after{
                    content: '-';
                }
            }
        }
    }
}