@use 'variavel';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(124,82,9,.6705882353);
    transition: background-color .5s;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s;

        .header {
            &__logo, &__container__links__item:first-child{
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(124,82,9,.6705882353);

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;

        @media (max-width: 768px) {
            max-width: 64px;
        }
    }

    &__container__links {
        display:flex;
        align-items:center;

        &__item {
            margin-right: 15px;
        }
    }

    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}