@use 'variavel';

.hero {
    position: relative;
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../imagem/hero-desktop.png);
    background-size:cover;
    text-align:center;
        @media (max-width:1023px){
            .hero{
                background-image: url(../imagem/hero-tablet.png);
            }
        }
        @media (max-width:767px){
            .hero{
                background-image: url(../imagem/hero-celular.png);
                padding-top: calc(50vw + 25px);
                background-size: contain;
                background-repeat: no-repeat;
                margin-top: -55px;
            }
        }

    .button {
        margin-top:2vw;
        margin-bottom:8px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: auto;
            margin:0 auto 38px;
    
            @media (max-width: 768px) {
                max-width:auto;
            }
        }

        .title--small {
        margin-bottom: 64px;
        }

        p {
        margin-bottom: 20px;

        &:last-child {
            margin-top: 60px;
        }
        }

            &__combos {
            display: flex;
            justify-content: space-between;
    
                @media (max-width: 768px) {
                    display: block;
                    }

            &__combo {
                width: calc(50% - 12px);
    
                    @media (max-width: 768px) {
                            width: 100%;
                        }

                img {
                max-height: 60px;
                }
            }
        }
    }
}