$corDeFundo: #523604;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #c08924;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;


$mobile: 767px;
$tablet: 1023px;